<html>
    <head>
        <title>
            Enter Email to receive invite
        </title>
    </head>
    <body>
        <center>
            <form action="/sendinvite/" method="POST">
                {% csrf_token %}
                <input type="text" name="email" style="width:95%;height:40px;font-size:26px;">
                <br/>
                <br/>
                <button type="submit" style="width:50%;height:30px;font-size:20px;">Get an invite!</button>
            </form>
        </center>
    </body>
</html>
